<h1> 3d Distance Calculator </h1>
<p>Enter the (x,y,z) coordinates of a point</p>
<hr>
<form method="post" action="/dist">
    x = <input type="number" step="any" name="x">
    <br>
    y = <input type="number" step="any" name="y">
    <br>
    z = <input type="number" step="any" name="z">
    <hr>
    <input type="submit">
</form>