<h1> BMI </h1>
<form method="post" action="/bmi">
    height(in) <input type="number" step="any" name="height">
    <br>
    weight(lb) <input type="number" step="any" name="weight">
    <br>
    <input type="submit">
</form>