
  <head>
    <meta charset="utf-8">
    <title>About the Developer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </head>
  <body class="container">
    <h1 class="text-center">Joey Zhang</h1>

    <img src="/JoeyPhoto.jpg" class="mx-auto d-block" alt="Joey's photo" width="300">

    <p class="text-center">Hi, this is Joey from Brandeis Class of 2023.</p>
    <hr>
    <h2>Interesting things about me</h2>
    <ol class="text-muted">
      <li>
        I love playing soccer
      </li>
      <li>
        I have a dog called Simba
      </li>
      <li>
        I am triple majoring in Applied Math, Economics, and Computer Science
      </li>
    </ol>
    <hr>

    <h2>About My Family</h2>
    <table class="table text-dark bg-light">
      <thead>
          <tr>
              <th>Name</th>
              <th>Age</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Dad</td>
              <td>51</td>
          </tr>
          <tr>
              <td> Mom</td>
              <td> 50</td>
          </tr>
          <tr>
            <td>Joey</td>
            <td>22</td>
          </tr>
          <tr>
            <td>Simba</td>
            <td>6</td>
          </tr>
      </tbody>
    </table>
    <hr>

  </body>
