

    <p class="bg-danger">Welcome to Joey's  app</p>
    Here is Joey's <a href="/bio">bio</a>
    <br>
    <a href="/simpleform">go to simple form</a>
    <br>
    <a href="/bmi">go to BMI calculator</a>
    <br>
    <a href="/dist">go to 3D distance calculator</a>
    <br>
    <a href="/todo">todo</a>
    <br>
    <a href="/showToDoList">show todos</a>
    <br>
    <a href="/university">go to university finder</a>
    <br>
    <a href="/coursesBySubject">Course by Subject</a>
    <br>
    <a href="/showSchedule">Show Schedule</a>