

    <p class="bg-danger">Welcome to Joey's  app</p>
    Here is Joey's <a href="/bio">bio</a>
    <br>
    <a href="/todo">todo</a>
    <br>
    <a href="/showToDoList">show todos</a>
    <br>
    <a href="/university">go to university finder</a>
    <br>
    <a href="/universityByCountry">University by Country</a>
    <br>
    <a href="/showSchedule">Show Schedule</a>