
    <div class="bg-success p-2 text-dark bg-opacity-50">
        <p class="text-center fs-3">Welcome to Joey's app!!!</p></div>
    <div class="bg-success p-5 text-dark bg-opacity-25">
        <p class="text-center fs-6 m-3">
            This app helps people with their university application, including 
            finding universities all over the world and adding them to their own 
            lists. There is also a todo list which helps people with their studies 
            and lives.<br><br>
            We will keep adding useful features and tools to the website<br><br>
            Good luck to everyone with their applications!!!</p></div>
    <div class="bg-success p-2 text-dark bg-opacity-10">
        Here is Joey's <a href="/bio">bio</a>
        <br>
        <a href="/todo">todo</a>
        <br>
        <a href="/showToDoList">show todos</a>
        <br>
        <a href="/university">go to university finder</a>
        <br>
        <a href="/universityByCountry">University by Country</a>
        <br>
        <a href="/showSchedule">Show Schedule</a>
    </div>