    <div class="row">
      
        <div class="col-sm-5">
            <h2>Login</h2>
            <form method="post" action="/login">
                <!-- username:  -->
                <label for="username" class="col-form-label">User Name</label>
                <input type="text" class="form-control" autocomplete="username" name="username"><br>
                <!-- passphrase:  -->
                <label for="passphrase" class="form-label">Passphrase</label>
                <input  type="password" class="form-control" autocomplete="passphrase" name="passphrase"><br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
      
        <div class="col-sm-2" style="text-align:center">
            OR
        </div>
      
        <div class="col-sm-5">
            <h2>Signup</h2>
            <form method="post" action="/signup">
                <label for="username" class="col-form-label">User Name</label>
                <input type="text" class="form-control" autocomplete="username" name="username"><br>
                <label for="passphrase" class="form-label">Password</label>
                <input  type="password" class="form-control" autocomplete="passphrase" name="passphrase"><br>
                <label for="passphrase2" class="form-label">Confirm Password</label>
                <input  type="password" class="form-control" name="passphrase2"><br>
                <label for="email" class="form-label">Email</label>
                <input  type="text" class="form-control" name="email" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div><br>
                <label for="number" class="form-label">Age</label>
                <input  type="age" class="form-control" name="age"><br>
                <label for="sat" class="form-label">SAT Score</label>
                <input  type="number" class="form-control" name="sat"><br>
                <label for="dreamschool" class="form-label">Dream School</label>
                <input  type="text" class="form-control" name="dreamschool"><br>
              
              
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>


