<h1>University List</h1>

<ol>
    <% for(university of universities) {%>
        <li><%= university.universityId.name %>
            <a href="/deleteFromSchedule/<%= university.id %>">
                <button type="button btn-outline-danger"> Delete </button></a>
        </li>
    <% } %>
</ol>