<div class="bg-warning p-2 text-dart bg-opacity-25">
    <h1>Add a todo</h1>
</div>
<div class="bg-warning p-2 text-dart bg-opacity-10">
    <form method="post" action="/todo">
        <div class="mb-3">
        <label for="desc" class="form-label">Description</label>
        <input type="text" class="form-control" name="desc"><br>
        </div>
        <div class="mb-3">
        <label for="duedate" class="form-label">Due Date</label>
        <input type="text" class="form-control" name="duedate"><br>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>