<h1>Add a todo</h1>
<form method="post" action="/todo">
    Description:<input type="text" name="desc"><br>
    Due Date:<input type="text" name="duedate"><br>
    <input class="btn btn-primary" type="submit">
</form>