<h1> University By Country </h1>
<form method="post" action="/universityByCountry">
    Please enter a Country: <input type="text" name="country">
    <br>
    <input class="btn btn-primary" type="submit">
</form>

<% if (universities.length==0) { %>
<p class="fs-6">No universities to display</p>
<% } else {%>

    <h1>Universities</h1>
    <% for (university of universities) {%>
    <hr>
    <%= university.name %>
    <% if(selectNames.includes(university.name)){%>
        selected
    <% } else {%>
    <a href="/addUniversity/<%= university.id %>">
        <button type="button btn-info">Add to list </button></a>
    <% }}} %>

<!-- <pre>
    <%= JSON.stringify(universities,null,5) %>
</pre> -->