<h1>University Finder</h1>
<form method = "post" action="/university">
    Enter the country you want to find universities in (use + instead of space between letters): <input type = "text" name = "country">
    <br>
    <input type = "submit">
</form>